@font-face {
  src: url(../fonts/digital-7.ttf);
  font-family: digital;
}

body {
  background-color: #1D2021;
}

.calculator {
  display: block;
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: #324244;
}

/* ###### SCREEN ####### */

.textViewInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 50px;
  text-align: center;
  font-size: 35px;
  font-family: digital;
  background-color: #D15D1F;
  color: #171B1E;
  margin-left: 4px;
  margin-top: 3px;
  border: 0; 
}  

.textViewOutput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  font-family: digital;
  background-color: #D15D1F;
  color: #171B1E;
  margin-left: 4px;
  margin-top: 3px;
  border: 0;
}

.textView p {
  margin: 5px;
    
}
  
/* ###### BUTTONS ####### */

.button {
  height: 60px;
  width: 60px;
  margin: 1px;
  border: 0;
  border-radius: 5px;
  padding: 0;
  background-color: #44515B;
  color: #171B1E;
  font-size: 23px;
  cursor: pointer;
}

.button:focus, 
  .button-0:focus,
    .button-equal:focus,
      .openHistoryBtn:focus,
        .closeHistoryBtn:focus,
         .cleanHistoryBtn:focus {
  outline: none;
}

.button-0 {
  height: 60px;
  width: 127px;
  margin: 1px;
  border: 0;
  border-radius: 5px;
  padding: 0;
  background-color: #44515B;
  color: #171B1E;
  font-size: 23px;
  cursor: pointer;
}

.button-equal {
  height: 126px;
  width: 60px;
  margin: 1px;
  border: 0;
  border-radius: 5px;
  padding: 0;
  background-color: #44515B;
  color: #171B1E;
  font-size: 23px;
  cursor: pointer;
}


/* ###### HISTORY ####### */

.historyScreen {
  display: none;
  position: absolute;
  float: right;
  overflow: auto;
  top: 0px;
  left: 268px;
  width: 325px;
  height: 441px;
  background-color: #44515B;
  opacity: 0.5;
  text-align: center;
  padding-top: 36px;
}

#historyPanel {
  position: absolute;
  left: 89px;
  top: 3px;
  color: #f17c3e;
  font-size: 25px;
}

.listHistory p {
  color: whitesmoke;
  font-size: 23px;
}

.openHistoryBtn {
  width: 123px;
  height: 25px;
  margin: 4px;
  border: 0;
  border-radius: 5px;
  padding: 0;
  font-size: 21px;
  background-color: #44515B;
  color: #171B1E;
}

.cleanHistoryBtn {
  width: 123px;
  height: 25px;
  margin: 4px;
  border: 0;
  border-radius: 5px;
  padding: 0;
  font-size: 16px;
  background-color: #44515B;
  color: #171B1E;
}

.closeHistoryBtn {
  height: 13px;
  width: 13px;
  border: 0;
  padding: 1px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  background-color: #f73939;
}